.sans-serif {
	font-family: -apple-system, BlinkMacSystemFont,
		'avenir next', avenir,
		helvetica, 'helvetica neue',
		Ubuntu,
		'segoe ui', arial,
		sans-serif;
}

/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */
code, .code {
	font-family: Consolas,
		monaco,
		monospace;
}

/* Sans-Serif Typefaces */

.helvetica {
	font-family:  helvetica, 'helvetica neue',
		arial,
		sans-serif;
}

/* Serif Typefaces */

.georgia {
	font-family: georgia,
		serif;
}

.times {
	font-family: Times,
		serif;
}

a {
	color: #333;
}
.brand {
	background-color: #64B5F6;
	padding: 100px 0 70px;
	min-height: 40%;
	color: white;
	position: relative
}
.brand .site-name {
	font-size: 4rem;
	font-weight: 400;
	display: inline-block;
}
.copyright {
	font-size: 14px;
	color: #999;
	margin-top: 40px !important
}
.copyright a {
	color: #778087;
}
pre {
	overflow: auto;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 10px;
}
.main {
	padding: 20px 0 50px 0;
	line-height: 1.7;
	font-size: 1.2rem
}
.main p {
	margin: 0 0 15px 0;
}
.nav {
	position: absolute;
	bottom: 0
}
.nav .nav-list {
	list-style: none;
	padding-left: 0;
	overflow: hidden;
}
.nav .nav-item {
	float: left;
}
.nav .nav-item a {
	margin-right: 20px;
	color: white;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	display: block;
	height: 40px;
	line-height: 40px;
	transition: all .3s ease;
}
.nav .nav-item a.active {
	border-color: #4780AF;
}
.box-header {
	margin-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 10px;
}
.box-sub-title {
	font-size: 1rem;
	margin-bottom: 10px;
}
.element-inline {
	border: 1px solid #e2e2e2;
	padding: 10px;
	border-radius: 2px 2px 0 0;
	font-size: 1rem;
}
.example-code {
	margin-bottom: 20px;
	border: 1px solid #e2e2e2;
	border-top: none
}
.example-code pre > code {
	font-size: 13px;
}
.footer {
	padding: 0 0 30px;
	text-align: center;
}
.footer strong {
	color: #E66D6D;
}

.github-corner:hover .octo-arm {
	animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
	0%,100% {
		transform:rotate(0)
	}
	20%,60% {
		transform:rotate(-25deg)
	}
	40%,80% {
		transform:rotate(10deg)
	}
}
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation:none
	}
	.github-corner .octo-arm {
		animation:octocat-wave 560ms ease-in-out
	}
}

/* Override github highlight */

.hljs-tag, .hljs-name, .hljs-attribute {
	color: #3e3e90;
}

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
	color: #317f7f;
}

.hljs-string, .hljs-doctag {
	color: #cd1a47;
}
