{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="./nest.css?t={{ time }}">
<link rel="stylesheet" href="./example.css?t={{ time }}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/github.min.css">
{% endblock %}

{% block main %}
<components></components>
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script type="text/javascript" src="./riot+compiler.js"></script>
<script type="text/javascript" src="./nest.js?t={{ time }}"></script>
<script>
	riot.compile('./components.html', function() {
		riot.mount( '*' );
	});
</script>
{% endblock %}
