html {
	box-sizing: border-box;
}

html * {
	box-sizing: inherit;
}

body, ul, h1, h2, h3, h4, h5 {
	margin: 0;
}

body {
	font-size: 1rem;
	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button, input, textarea {
	outline: none;
}

hr {
	height: 1px;
	background-color: #ccc;
	margin: 20px 0;
	border: none;
}

pre {
	margin: 0;
}

pre > code {
	font-size: 1rem;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
