<ui-tree on-change="{ onTreeChange }">
	<ui-tree-node title="root" key="0">
		<ui-tree-node title="first0" key="1">
			<ui-tree-node title="second0" key="3">
				<ui-tree-node title="third0" key="6"></ui-tree-node>
				<ui-tree-node title="third1" key="7"></ui-tree-node>
			</ui-tree-node>
			<ui-tree-node title="second1" key="4"></ui-tree-node>
			<ui-tree-node title="second2" key="5"></ui-tree-node>
		</ui-tree-node>
		<ui-tree-node title="first1" key="2"></ui-tree-node>
	</ui-tree-node>
</ui-tree>
