@primary-color: #5fbfff;
@success-color: #2ecc71;
@warning-color: #f4d03f;
@danger-color: #ec7063;
@disabled-text-color: #d9d9d9;
@disabled-cursor: not-allowed;

/* Badge */
@badge-background-color: #ec7063;

/* Tooltip */
@tooltip-font-size: 12px;
@tooltip-background-color: #545454;

/* Input */
@input-disabled-background-color: #EDEDED;

/* Button */
@button-border-color: #d9d9d9;

/* Tag */
@tag-font-size: 11px;
